/* style.css – главное меню */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  color: royalblue;
  background: none;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #0f0f1a;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#foot {
  text-align: center;
  color: #1d1d36;
  padding: 10px;
  font-size: 12px;
  margin-top: 20px;
}
.menu {
  width: 80%;
  margin: 0 auto;
  background-color: #1a1a2c;
  padding: 10px;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box_1, .box_2 {
  border-radius: 10px;
  width: 38%;
  background-color: #0f0f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 20px 0;
  margin-top: 0;
}
h3 {
  padding: 15px;
}
input, select {
  background: none;
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 15px;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  outline: 1px solid white;
}
select option {
  background: #0f0f1a;
}
button {
  background: none;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 10px;
  width: 40%;
  margin-top: 15px;
  padding: 15px 20px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 5px orange;
  text-shadow: 1px 1px 5px orange;
  transform: scale(1.02);
  transition: all 0.3s;
}
h1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}
#joinRoomBtn {
  color: royalblue;
  border: 1px solid royalblue;
}
#joinRoomBtn:hover {
  text-shadow: 1px 1px 5px royalblue;
  box-shadow: 0px 0px 5px royalblue;
}